<div *ngIf="customer">
    <div>
        <label>Name: </label> {{customer.name}}
    </div>
    <div>
        <label>Age: </label> {{customer.age}}
    </div>
    <div>
        <label>Active: </label> {{customer.active}}
    </div>
    <button class="button is-small btn-primary" *ngIf="test" (click)="updateActive(false)">inActive</button>

    <button class="button is-small btn-primary" *ngIf="!test" (click)="updateActive(true)">Active</button>

    <button class="button is-small btn-danger" (click)="deleteCustomer()">Delete</button>

    <hr/>
</div>